[MASTER]
ignore=test,examples

disable=too-many-function-args,no-member,no-self-argument,too-many-arguments,too-many-locals,missing-function-docstring,too-many-statements,too-many-branches,missing-class-docstring,line-too-long,too-few-public-methods,consider-using-enumerate,no-name-in-module,invalid-name,import-error,unused-variable,relative-beyond-top-level,undefined-variable,broad-except,pointless-string-statement,wildcard-import,too-many-instance-attributes,redefined-outer-name,ungrouped-imports,missing-final-newline,unused-wildcard-import,no-value-for-parameter,unexpected-keyword-arg,redundant-keyword-arg,dangerous-default-value,inconsistent-return-statements,consider-using-with,wrong-import-order
