torch
torchvision
git+https://github.com/huggingface/transformers
numpy~=1.22.2
scikit-learn~=0.24.1
matplotlib~=3.4.1
coremltools
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
sympy>=1.12 # not directly required, pinned by Snyk to avoid a vulnerability
